@menuHeight: 100px;
@menuBg: #3879BD;
@menuColor: #fa8;

@borderColor: #ddd;

.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

table {
    tr.selected td input[type='text'] {
        border: 2px solid black;
        background: #ddd;
    }
    tr.dirty td input[type='text'] {
        border: 2px solid red;
    }
    td, th {
        input { 
            text-overflow: ellipsis;
            border:2px solid transparent;
            border-bottom:1px dotted #aaa;
            background:transparent;
            max-width:80px;
            padding:2px 0 2px 2px;
        }
    }
    td.button, th.button {
        width:30px;
        padding:0;
        .addButton { background: transparent url('image/glyph.png') -408px -96px no-repeat; }
        .delButton { background: transparent url('image/glyph.png') -314px 2px no-repeat; }
        .savButton { background: transparent url('image/glyph.png') 0px -72px no-repeat; }
    }
}

.button input {
    color:transparent;
    background:transparent;
    border: 1px solid transparent;
    opacity: 0.7;
    padding:0;
    width:12px;
}

.pane {
    display:block;
    position:relative;
    float:left;
}

.box {
    .rounded-corners(10px);
    position:relative;
    border:3px solid @borderColor;
    margin:10px;
    padding:5px;
}

body {
    background:#eee;
    margin:0;
}

li {
    list-style: none;
}

input {
    .rounded-corners(5px);
    border:1px solid #aaa;
}

topmenu {
    height: @menuHeight;
    color: @menuColor;
    width:99%;
    background: @menuBg;
    padding:4px;
    margin:0;
}

rightPane, leftPane {
    width:180px;
    background:ddf;
    min-height:800px;
}

contentPane {
    background:dfd;
    min-width:50%;
    min-height:400px;
}
