@menuBg: #3879BD;
@menuHeight: 100px;
@menuColor: #fa8;

body {
    background:#eee;
    margin:0;
}

li {
    list-style: none;
}

.pane {
    display:block;
    position:relative;
    float:left;
}

topmenu {
    height: @menuHeight;
    color: @menuColor;
    width:99%;
    background: @menuBg;
    padding:4px;
    margin:0;
}

rightPane, leftPane {
    width:180px;
    background:ddf;
    min-height:800px;
}

contentPane {
    background:dfd;
    min-width:50%;
    min-height:400px;
}
