@menuHeight: 75px;
@rightWidth: 80px;
@leftWidth:  280px;

@menuBg: lighten(#377095, 20%);
@menuColor: #eee;

@mainPaneBg: #D0E5F2;
@leftPaneBg: #D3DCE0;
@rightPaneBg: #D3DCE0;
@borderColor: darken(#D3DCE0, 12%);
@borderDirtyColor: #A03A5E;

@successColor: green;
@infoColor: blue;
@warningColor: yellow;
@errorColor: #A03A5E;

.glyphBg(@left, @top) {
    background: transparent url('../image/glyph.png') @left @top  no-repeat;
}

.glyphBgWhite(@left, @top) {
    background: transparent url('../image/glyph-white.png') @left @top  no-repeat;
}

.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.hidden { display:none; }

body {
    min-width: 790px;
    background: #eee;
    margin:  0;
    padding: 0;
    font-family: Helvetica;
}

div#page {
    min-width:400px;
    max-width:68em;
    margin:0 auto;
}

div#footer {
    position: absolute;
    bottom: 0;
    height: 45px;
    background: red;
}

input {
    .rounded-corners(4px);
    border:2px solid #aaa;
}

li { list-style: none; }

div.topMenu{
    position: relative;
    float: left;
    margin: 0;
    padding:0;
    width: 100%;
    height: @menuHeight;
    color:  @menuColor;
    background: @menuBg;
    overflow:hidden;
}

div.contentWrap {
    border-left: @leftWidth  solid @leftPaneBg;
    border-right:@rightWidth solid @rightPaneBg;
    height:100%;
}

div.contentPane, .left, .right  { float:left; }
.right, .left               { position:relative; }

div.contentPane {
    width:100%;
    background:@mainPaneBg;
}

div.right {
    width: @rightWidth;
    margin-right:(0-@rightWidth);
}

div.left {
    width: @leftWidth;
    margin-left:(0-@leftWidth);
    left:-100%;
}

div.gridBox {
    margin:10px;
    padding:8px;
    border:3px solid @borderColor;
    .rounded-corners(10px);
    overflow:auto;
}

[grid] {
    margin:0;
    .button {
        .rounded-corners(4px);
        padding:0 2px 0 1px;
        height:12px;
        .delButton      { .glyphBg(-456px,    0px); }
        .detailButton   { .glyphBg(   0px,  -72px); }
        .subButton      { .glyphBg(-410px, -120px); }
        .savButton      { .glyphBg(-290px,    0px); }
        .addButton      { .glyphBg(-408px, -96px);  }
        .removeButton   { .glyphBg(-312px,    0px); }
    }
    .button input {
        font-size:0px;
        min-height:14px;
        float:left;
        cursor:pointer;
        color:transparent;
        background:transparent;
        border: 1px solid transparent;
        padding:0;
        width:14px;
        margin-left:2px;
        -webkit-border-radius:0;
    }
    [grid-head] {
        float:left;
        width:100%;
        margin-bottom:2px;
        padding:0px;
        background: @menuBg;
        .rounded-corners(2px);
        font-family:Helvetica;
        font-size:0.9em;
        div:first-child {
             font-style:italic;
             font-weight:bold;
             margin:0;
             padding:0px 3px;
             border-radius:2px;
        }
        div {
            padding:3px 0;
            position:relative;
            float:left;
            margin-left: 3px; 
        }
        .button {
            float:right;
            margin:3px 2px 0px 1px;
            padding:0px 1px 6px 0px;
            height:11px;
            border-radius:2px;
        }

        input {
            &.addButton    { .glyphBg(-409px, -97px); }
            &.reloadButton { .glyphBg(-218px, -24px); }
            //&.restoreTable { .glyphBg(-409px, -73px); }
            &.restoreTable { .glyphBg(-266px,  -24px); }
            &.peekTable    { .glyphBgWhite(-266px,  -24px); }
            &.peekTable.hidden { .glyphBg(-266px,  -24px); }
        }
        div.spaces {
            position:relative;
            float:left;
            height:22px;
            margin: 0px;
            padding:0px;
            background-color:#c7d2d8;
            div.space {
                float:left;
                width:22px;
                height:22px;
                border-right:1px dashed @menuBg;
            }
        }
        span{
            display:none;
            .rounded-corners(2px);
            float:right;
            margin:2px 4px  0 0;
            height: 16px;
            padding:1px 2px;
            font-family: Helvetica;
            font-size:1em;
            color : green;
            background:@mainPaneBg;
        }
        span.success {color:@successColor;}
        span.info    {color:@infoColor;   }
        span.warning {color:@warningColor;}
        span.error   {color:@errorColor;  }
    }

    div.dataContent {
        .rounded-corners(5px);
        box-shadow: 1px 1px 11px #aaa;
        width:98%;
        padding:0;
        ul {
            font-size:0.9em;
            margin:0;
            padding:0;
            width:100%;
            overflow:hidden;
            li.row {
                width:100%;
                background:@mainPaneBg;
                &.editable .active {
                    display:block;
                }
                &.editable .text {
                    display:none;
                }
                &.selected {
                    background:darken(@mainPaneBg, 5%);
                }
            }
            [grid]  {
                div.dataContent {
                    width:100%;
                }
                ul {
                    li {
                        &>div{
                            margin-left:12px;
                        }
                        &.row {
                            background:lighten(@mainPaneBg,5%);
                            width:100%;
                        }
                    }
                }
            }
            li {
                float:left;
                &.button {
                    height:16px;
                    margin-top:2px;
                    float:right;
                    width:auto;
                    white-space:nowrap;
                }
                ul {
                    li {
                        &>div { 
                            margin:4px;
                            cursor:pointer;
                        }
                    }
                    row-buttons {
                        float:left;
                        &.button {
                            height:16px;
                            margin:4px 4px 0 0;
                            float:right;
                            width:auto;
                            white-space:nowrap;
                        }
                        &.button [grid] row-buttons.button { float:left;}
                    }
                    li .active {
                        display:none;
                    }
                }
            }
        }
    }

    table {
        width:100%;
        box-shadow: 1px 1px 11px #aaa;
        border-bottom-right-radius:4px;

        &.hidden, tr.hidden { display:none; }

        div.buttons { float:right; }

        tr {
            th {
                font-family: Helvetica;
                color: #777;
                font-size:0.8em;
                text-align:left;
                font-style: italic;
                text-decoration: underline;
                padding-left:5px;
            }
            td { 
                min-width:56px; 
                &.button { 
                    min-width:1px;
                    width:1px; 
                    white-space:nowrap;
                }
                border-bottom:1px dotted @borderColor;
                padding-right:4px;

                text-overflow: ellipsis;
                input { 
                    cursor:pointer;
                    border:2px solid transparent;
                    background:transparent;
                    width:99%;
                    padding:2px 0 2px 2px;
                    margin:0;

                    &[type="radio"],
                    &[type="checkbox"] { width:auto; height:12px; margin-top:4px; }
                }
                div.active {
                    cursor:pointer;
                    float:left;
                    font-family:Arial;
                    margin:0 0px 4px 0px;;
                    height:12px;
                    padding-top:0px;
                    label {
                        margin:0 4px 4px 0px;;
                        font-size:0.8em;
                    }
                    select { 
                        margin-top:1px; 
                        width:100%;
                    }
                }
                    width:1px;
                    white-space:nowrap;
                    .active {
                        display:none;
                        padding-top:0;
                        margin-top:4px;
                        height:12px;
                        font-style:italic;
                    }
                    .text {
                        font-family:Arial;
                        font-size:0.8em;
                        display:block;
                    }
            }
            &.selected {
                 background:darken(@mainPaneBg, 5%);
            }
            &.editable {
                td {
                    input[type='text'] {
                        border: 2px solid darken(@borderColor, 40%);
                        background: lighten(@mainPaneBg, 5%);
                    }
                        .active{
                            float:left;
                            display:block;
                            margin-top:-1px;
                        }
                        .text {
                            display:none;
                        }
                        &> div {
                            height:18px;
                            //border: 1px solid darken(@borderColor, 40%);
                            border: 1px solid transparent;
                            .rounded-corners(4px);
                            background: transparent;
                            float:left;
                        }
                }
            }
            &.dirty td.button {
                background:#f55;
            }
        }
    }
    .detailLabel { display:none; width:120px; height:24px; float:left; }

    [detail] {
        & li {
            clear:both;
        }
        & div {
            float:left;
        }
        .detailLabel {
            display:block;
        }
    }
}

.active, .editable .text { display:none; }
.text, .editable .active { display:block; }

.pimg {
    .row {
        float:left;
        width:auto;
        padding:8px;
        margin:8px 0px 0 8px;
        max-width:300px;
        border-radius:5px;
        border:1px solid #aaa;
        height:150px;
        p {
            margin:0;
            height:150px;
            overflow:scroll;
        }
        img {
            float:right;
        }
    }
    .active {
        padding:8px;
        border:1px solid #aaa;
        textarea {
            width:100%;
        }
        label {
            clear:left;
            font-size:0.9em;
        }
        ul {
            li {
                width:100%;
            }
        }
    }
}

.members { 
    input {
        width:100px;
    }
}
