.hidden {
  display: none;
}
body {
  min-width: 790px;
  background: #eee;
  margin: 0;
  padding: 0;
}
div#page {
  min-width: 400px;
  max-width: 68em;
  margin: 0 auto;
}
div#footer {
  position: absolute;
  bottom: 0;
  height: 45px;
  background: red;
}
input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #aaa;
}
li {
  list-style: none;
}
div.topMenu {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75px;
  color: #eeeeee;
  background: #6aa3c8;
  overflow: hidden;
}
div.contentWrap {
  border-left: 80px solid #d3dce0;
  border-right: 80px solid #d3dce0;
  height: 100%;
}
div.contentPane,
.left,
.right {
  float: left;
}
.right,
.left {
  position: relative;
}
div.contentPane {
  width: 100%;
  background: #d0e5f2;
}
div.right {
  width: 80px;
  margin-right: -80px;
}
div.left {
  width: 80px;
  margin-left: -80px;
  left: -100%;
}
div.box {
  clear: both;
  margin: 10px;
  padding: 8px;
  border: 3px solid #afbfc7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: auto;
}
[grid] .button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0 2px 0 1px;
  background: #aaa;
  height: 12px;
}
[grid] .button .delButton {
  background: transparent url('../image/glyph.png') -458px 2px no-repeat;
}
[grid] .button .expButton {
  background: transparent url('../image/glyph.png') -1px -70px no-repeat;
}
[grid] .button .subButton {
  background: transparent url('../image/glyph.png') -410px -118px no-repeat;
}
[grid] .button .savButton {
  background: transparent url('../image/glyph.png') -290px 2px no-repeat;
}
[grid] .button.dirty {
  background: #f55;
}
[grid] .button input {
  float: left;
  cursor: pointer;
  color: transparent;
  background: transparent;
  border: 1px solid transparent;
  padding: 0;
  width: 13px;
  margin-left: 2px;
  -webkit-border-radius: 0;
}
[grid] .gridHead {
  float: left;
  width: 100%;
  margin-bottom: 2px;
  padding: 0px;
  background: #6aa3c8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-family: Helvetica;
  font-size: 0.9em;
}
[grid] .gridHead div:first-child {
  font-style: italic;
  font-weight: bold;
  margin: 0;
  padding: 0px 3px;
  border-radius: 2px;
}
[grid] .gridHead div {
  padding: 3px 0;
  position: relative;
  float: left;
  margin-left: 3px;
}
[grid] .gridHead .button {
  float: right;
  margin: 3px 2px 0px 1px;
  padding: 0px 1px 6px 0px;
  height: 11px;
  border-radius: 2px;
}
[grid] .gridHead input.addButton {
  background: transparent url('../image/glyph.png') -409px -98px no-repeat;
}
[grid] .gridHead input.reloadButton {
  background: transparent url('../image/glyph.png') -218px -25px no-repeat;
}
[grid] .gridHead input.restoreTable {
  background: transparent url('../image/glyph.png') -409px -73px no-repeat;
}
[grid] .gridHead input.peekTable {
  background: transparent url('../image/glyph-white.png') -266px -25px no-repeat;
}
[grid] .gridHead input.peekTable.hidden {
  background: transparent url('../image/glyph.png') -266px -25px no-repeat;
}
[grid] .gridHead div.spaces {
  position: relative;
  float: left;
  height: 22px;
  margin: 0px;
  padding: 0px;
  background-color: #c7d2d8;
}
[grid] .gridHead div.spaces div.space {
  float: left;
  width: 22px;
  height: 22px;
  border-right: 1px dashed #6aa3c8;
}
[grid] .gridHead span {
  display: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  float: right;
  margin: 2px 4px  0 0;
  height: 16px;
  padding: 1px 2px;
  font-family: Helvetica;
  font-size: 1em;
  color: green;
  background: #d0e5f2;
}
[grid] .gridHead span.success {
  color: #008000;
}
[grid] .gridHead span.info {
  color: #0000ff;
}
[grid] .gridHead span.warning {
  color: #ffff00;
}
[grid] .gridHead span.error {
  color: #a03a5e;
}
[grid] table {
  width: 100%;
  box-shadow: 1px 1px 11px #aaa;
  border-bottom-right-radius: 4px;
}
[grid] table.hidden,
[grid] table tr.hidden {
  display: none;
}
[grid] table div.buttons {
  float: right;
}
[grid] table tr th {
  font-family: Helvetica;
  color: #777;
  font-size: 0.8em;
  text-align: left;
  font-style: italic;
  text-decoration: underline;
  padding-left: 5px;
}
[grid] table tr td {
  min-width: 56px;
  border-bottom: 1px dotted #afbfc7;
}
[grid] table tr td.button {
  width: 62px;
}
[grid] table tr td input {
  cursor: pointer;
  text-overflow: ellipsis;
  border: 2px solid transparent;
  background: transparent;
  width: 99%;
  padding: 2px 0 2px 2px;
  height: 20px;
}
[grid] table tr td input[type="radio"],
[grid] table tr td input[type="checkbox"] {
  width: auto;
  height: 12px;
  margin-top: 4px;
}
[grid] table tr td div.active {
  cursor: pointer;
  float: left;
  font-family: Arial;
  font-size: 0.8em;
  width: auto;
  margin: 0 0px 4px 0px;
  height: 12px;
  padding-top: 6px;
}
[grid] table tr td div.active label {
  margin: 0 4px 4px 0px;
}
[grid] table tr td div.active select {
  margin-top: 1px;
  width: 100%;
}
[grid] table tr td.notext {
  width: 1px;
  white-space: nowrap;
}
[grid] table tr td.notext div.active {
  display: none;
  padding-top: 0;
  margin-top: 4px;
  height: 12px;
  font-style: italic;
}
[grid] table tr td.notext div.text {
  font-family: Arial;
  font-size: 0.8em;
  display: block;
}
[grid] table tr.selected td input[type='text'] {
  border: 2px solid #465b64;
  background: #e4f0f8;
}
[grid] table tr.selected td.notext div.active {
  display: block;
  margin-top: -1px;
}
[grid] table tr.selected td.notext div.text {
  display: none;
}
[grid] table tr.selected td.notext > div {
  height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #f8fbfd;
  float: left;
}
[grid] table tr.dirty td.button {
  background: #f55;
}
