.hidden {
  display: none;
}
body {
  min-width: 790px;
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
div#page {
  min-width: 400px;
  max-width: 68em;
  margin: 0 auto;
}
div#footer {
  position: absolute;
  bottom: 0;
  height: 45px;
  background: red;
}
input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #aaa;
}
li {
  list-style: none;
}
div.topMenu {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75px;
  color: #eeeeee;
  background: #6aa3c8;
  overflow: hidden;
}
div.contentWrap {
  border-left: 280px solid #d3dce0;
  border-right: 80px solid #d3dce0;
  height: 100%;
}
div.contentPane,
.left,
.right {
  float: left;
}
.right,
.left {
  position: relative;
}
div.contentPane {
  width: 100%;
  background: #d0e5f2;
}
div.right {
  width: 80px;
  margin-right: -80px;
}
div.left {
  width: 280px;
  margin-left: -280px;
  left: -100%;
}
div.gridBox {
  margin: 10px;
  padding: 8px;
  border: 3px solid #afbfc7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: auto;
}
[grid] {
  margin: 0;
}
[grid] .button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0 2px 0 1px;
  height: 12px;
}
[grid] .button .delButton {
  background: transparent url('../image/glyph.png') -456px 0px no-repeat;
}
[grid] .button .detailButton {
  background: transparent url('../image/glyph.png') 0px -72px no-repeat;
}
[grid] .button .subButton {
  background: transparent url('../image/glyph.png') -410px -120px no-repeat;
}
[grid] .button .savButton {
  background: transparent url('../image/glyph.png') -290px 0px no-repeat;
}
[grid] .button .addButton {
  background: transparent url('../image/glyph.png') -408px -96px no-repeat;
}
[grid] .button .removeButton {
  background: transparent url('../image/glyph.png') -312px 0px no-repeat;
}
[grid] .button input {
  font-size: 0px;
  min-height: 14px;
  float: left;
  cursor: pointer;
  color: transparent;
  background: transparent;
  border: 1px solid transparent;
  padding: 0;
  width: 14px;
  margin-left: 2px;
  -webkit-border-radius: 0;
}
[grid] [grid-head] {
  float: left;
  width: 100%;
  margin-bottom: 2px;
  padding: 0px;
  background: #6aa3c8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-family: Helvetica;
  font-size: 0.9em;
}
[grid] [grid-head] div:first-child {
  font-style: italic;
  font-weight: bold;
  margin: 0;
  padding: 0px 3px;
  border-radius: 2px;
}
[grid] [grid-head] div {
  padding: 3px 0;
  position: relative;
  float: left;
  margin-left: 3px;
}
[grid] [grid-head] .button {
  float: right;
  margin: 3px 2px 0px 1px;
  padding: 0px 1px 6px 0px;
  height: 11px;
  border-radius: 2px;
}
[grid] [grid-head] input.addButton {
  background: transparent url('../image/glyph.png') -409px -97px no-repeat;
}
[grid] [grid-head] input.reloadButton {
  background: transparent url('../image/glyph.png') -218px -24px no-repeat;
}
[grid] [grid-head] input.restoreTable {
  background: transparent url('../image/glyph.png') -266px -24px no-repeat;
}
[grid] [grid-head] input.peekTable {
  background: transparent url('../image/glyph-white.png') -266px -24px no-repeat;
}
[grid] [grid-head] input.peekTable.hidden {
  background: transparent url('../image/glyph.png') -266px -24px no-repeat;
}
[grid] [grid-head] div.spaces {
  position: relative;
  float: left;
  height: 22px;
  margin: 0px;
  padding: 0px;
  background-color: #c7d2d8;
}
[grid] [grid-head] div.spaces div.space {
  float: left;
  width: 22px;
  height: 22px;
  border-right: 1px dashed #6aa3c8;
}
[grid] [grid-head] span {
  display: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  float: right;
  margin: 2px 4px  0 0;
  height: 16px;
  padding: 1px 2px;
  font-family: Helvetica;
  font-size: 1em;
  color: green;
  background: #d0e5f2;
}
[grid] [grid-head] span.success {
  color: #008000;
}
[grid] [grid-head] span.info {
  color: #0000ff;
}
[grid] [grid-head] span.warning {
  color: #ffff00;
}
[grid] [grid-head] span.error {
  color: #a03a5e;
}
[grid] div.dataContent {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 11px #aaa;
  width: 98%;
  padding: 0;
}
[grid] div.dataContent ul {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
[grid] div.dataContent ul li.row {
  width: 100%;
  background: #d0e5f2;
}
[grid] div.dataContent ul li.row.editable .active {
  display: block;
}
[grid] div.dataContent ul li.row.editable .text {
  display: none;
}
[grid] div.dataContent ul li.row.selected {
  background: #bcdaec;
}
[grid] div.dataContent ul [grid] div.dataContent {
  width: 100%;
}
[grid] div.dataContent ul [grid] ul li > div {
  margin-left: 12px;
}
[grid] div.dataContent ul [grid] ul li.row {
  background: #e4f0f8;
  width: 100%;
}
[grid] div.dataContent ul li {
  float: left;
}
[grid] div.dataContent ul li.button {
  height: 16px;
  margin-top: 2px;
  float: right;
  width: auto;
  white-space: nowrap;
}
[grid] div.dataContent ul li ul li > div {
  margin: 4px;
  cursor: pointer;
}
[grid] div.dataContent ul li ul row-buttons {
  float: left;
}
[grid] div.dataContent ul li ul row-buttons.button {
  height: 16px;
  margin: 4px 4px 0 0;
  float: right;
  width: auto;
  white-space: nowrap;
}
[grid] div.dataContent ul li ul row-buttons.button [grid] row-buttons.button {
  float: left;
}
[grid] div.dataContent ul li ul li .active {
  display: none;
}
[grid] table {
  width: 100%;
  box-shadow: 1px 1px 11px #aaa;
  border-bottom-right-radius: 4px;
}
[grid] table.hidden,
[grid] table tr.hidden {
  display: none;
}
[grid] table div.buttons {
  float: right;
}
[grid] table tr th {
  font-family: Helvetica;
  color: #777;
  font-size: 0.8em;
  text-align: left;
  font-style: italic;
  text-decoration: underline;
  padding-left: 5px;
}
[grid] table tr td {
  min-width: 56px;
  border-bottom: 1px dotted #afbfc7;
  padding-right: 4px;
  text-overflow: ellipsis;
  width: 1px;
  white-space: nowrap;
}
[grid] table tr td.button {
  min-width: 1px;
  width: 1px;
  white-space: nowrap;
}
[grid] table tr td input {
  cursor: pointer;
  border: 2px solid transparent;
  background: transparent;
  width: 99%;
  padding: 2px 0 2px 2px;
  margin: 0;
}
[grid] table tr td input[type="radio"],
[grid] table tr td input[type="checkbox"] {
  width: auto;
  height: 12px;
  margin-top: 4px;
}
[grid] table tr td div.active {
  cursor: pointer;
  float: left;
  font-family: Arial;
  margin: 0 0px 4px 0px;
  height: 12px;
  padding-top: 0px;
}
[grid] table tr td div.active label {
  margin: 0 4px 4px 0px;
  font-size: 0.8em;
}
[grid] table tr td div.active select {
  margin-top: 1px;
  width: 100%;
}
[grid] table tr td .active {
  display: none;
  padding-top: 0;
  margin-top: 4px;
  height: 12px;
  font-style: italic;
}
[grid] table tr td .text {
  font-family: Arial;
  font-size: 0.8em;
  display: block;
}
[grid] table tr.selected {
  background: #bcdaec;
}
[grid] table tr.editable td input[type='text'] {
  border: 2px solid #465b64;
  background: #e4f0f8;
}
[grid] table tr.editable td .active {
  float: left;
  display: block;
  margin-top: -1px;
}
[grid] table tr.editable td .text {
  display: none;
}
[grid] table tr.editable td > div {
  height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: transparent;
  float: left;
}
[grid] table tr.dirty td.button {
  background: #f55;
}
[grid] .detailLabel {
  display: none;
  width: 120px;
  height: 24px;
  float: left;
}
[grid] [detail] li {
  clear: both;
}
[grid] [detail] div {
  float: left;
}
[grid] [detail] .detailLabel {
  display: block;
}
.active,
.editable .text {
  display: none;
}
.text,
.editable .active {
  display: block;
}
.pimg .row {
  float: left;
  width: auto;
  padding: 0;
  margin: 0;
  max-width: 300px;
  min-height: 80px;
  overflow: scroll;
}
.pimg .row > div {
  border-radius: 5px;
  border: 1px solid #aaa;
  margin: 8px;
  overflow: auto;
  padding: 8px;
}
.pimg .row p {
  margin: 0;
}
.pimg .row img {
  float: right;
  width: 40px;
  height: 40px;
}
.pimg .row .button {
  float: left;
}
.pimg .active {
  padding: 8px 8px 20px 8px;
  margin-bottom: 8px;
  border: 1px solid #aaa;
}
.pimg .active textarea {
  width: 100%;
}
.pimg .active label {
  clear: left;
  font-size: 0.9em;
}
.pimg .active ul li {
  width: 100%;
}
.pimg .active .button {
  float: right;
}
.members input {
  width: 100px;
}
