    <div class='spaces'>
        <div ng-repeat='space in spaces' class='space'></div>
    </div>
    <div><div>{{$attrs.key|Last}}</div></div>
    <div>{{rowContent}}</div>
    <div class='headButtons button'>
        <input type="button" class="addButton"    value='X' ng-click="add()" />
        <input type="button" class="peekTable"    ng-hide='tableHide' value='X' ng-click="peekTable();" />
        <input type="button" class="restoreTable" ng-show='tableHide' value='X' ng-click="restore();" />
    </div>
    <span class='notify'></span>
