<div class='gridHead' table-hide='tableHide'>
    <spaces>
        <space ng-repeat='space in spaces'></space>
    </spaces>
    <div><div>{{$attrs.key|Last}}</div></div>
    <div>{{workRow}}</div>
    <div class='headButtons button'>
    </div>
    <span class='notify'></span>
</div>
<table ng-hide='tableHide'>
    <thead>
        <tr>
            <th ng-repeat="colName in list.meta.columns">{{colName}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(id,row) in list.data" ng-class='trClass'>
            <td ng-repeat='(i,field) in row'> 
               <td-input></td-input> 
            </td>
            <td class="button" row-buttons></td>
         </tr>
    </tbody>
</table>
