<div>
    <table>
        <thead>
            <th ng-repeat="colName in list.meta.columns">{{colName}}</th>
            <th class="button">
                <input type='button' class='reloadButton' value='X' ng-click='reload()'/>
                <input type="button" class="addButton"    value='X' ng-click="add()" />
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="(id,row) in list.data" class="{{trClass}}">
                <td ng-repeat='(i,field) in row'> 
                   <td-input></td-input> 
                </td>
                <td class="button" tr-buttons></td>
             </tr>
        </tbody>
    </table>
    <div class='notify'></div>
</div>
