<div>
    <table>
        <thead>
            <th ng-repeat="colName in list.meta.columns">{{colName}}</th>
            <th class="button">
                <input type="button" class="addButton"    value='X' ng-click="add()" />
                <input type='button' class='reloadButton' value='X' ng-click='reload()'/>
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="(id,row) in list.data" class="{{trClass}}">
                <td ng-repeat='(i,field) in row'> 
                   <td-input></td-input> 
                </td>
                <td class="button">
                    <input type='button' class='delButton' value='X' ng-click='del(id)'></input>
                    <input type='button' ng-show='dirty' class='savButton' value='X' ng-click='sav(id, this)'></input>
                </td>
             </tr>
        </tbody>
    </table>

    <load-button textVal='Load' src="data/list.php"></load-button>
</div>
