<div>
    <table>
        <thead>
            <th ng-repeat="colName in list.meta.columns">{{colName}}</th>
            <th class="button">
                <add-button class='addButton' textVal='X'  ></add-button>
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="(id,row) in list.data">
                <td ng-repeat='field in row' ng-model="row">
                    <input type="text" ng-model="field" ng-change="showSaveButton()" />
                </td>
                <td class="button">
                    <input type='button' class='delButton' value='X' ng-click='del(id)'></input>
                    <input type='button' ng-show='inputShow' class='savButton' value='X' ng-click='sav(id)'></input>
                </td>
             </tr>
        </tbody>
    </table>

    <load-button textVal='Load' src="data/list.php"></load-button>
</div>
